<!-- footer.ejs -->
<footer>
    <p>&copy; 2025 Movie Website. All rights reserved.</p>
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" class="social-icon" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="social-icon" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="social-icon" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="social-icon" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
</footer>
